/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013.12.07., 10:06:48
    Author     : arpi
*/

.row input[type="radio"],
.row input[type="checkbox"] {
  display: none;
}

.row  .label-radio,
.row  .label-check {
	cursor: pointer;
	position: relative;
}

.row  .label-radio:before,
.row  .label-radio:after {
	vertical-align: middle;
	width: 27px;
	height: 27px;
	background: url(../img/radiobutton.png) no-repeat -9px -14px;
	margin-right: 10px;
}
.row  .label-radio:before {
	content: '';
	display: inline-block;
}

.row  .label-radio:hover:before,
.row  .label-radio:hover:after {
	background-position: -9px -114px;
}

input[type="radio"]:checked  + .label-radio:before,
input[type="radio"]:checked  + .label-radio:after {
	background-position: -9px -214px;
}

input[type="radio"]:checked  + .label-radio:hover:before,
input[type="radio"]:checked  + .label-radio:hover:after {
	background-position: -9px -314px;
}

.row  .label-check:before,
.row  .label-check:after {
	vertical-align: middle;
	width: 27px;
	height: 27px;
	background: url(../img/checkbox.png) no-repeat -9px -14px;
	margin-right: 10px;
}

.row  .label-check:before {
	content: '';
	display: inline-block;
}

.row  .label-check:hover:before,
.row  .label-check:hover:after {
	background-position: -9px -114px;
}

input[type="checkbox"]:checked  + .label-check:before,
input[type="checkbox"]:checked  + .label-check:after {
	background-position: -9px -214px;
}

input[type="checkbox"]:checked  + .label-check:hover:before,
input[type="checkbox"]:checked  + .label-check:hover:after {
	background-position: -9px -314px;
}


.row.reverse-label  .label-radio:before,
.row.reverse-label  .label-check:before {
	display: none;
}
.reverse-label label:after {
	content: '';
	display: inline-block;
}



input[type="radio"] + .browserIcon {
  display: inline-block;
  vertical-align: middle;
  width: 126px;
  height: 126px;
  background: url(../img/browsers.png) no-repeat 0 0;
  cursor: pointer;
  border-radius: 8px;
}

input[type="radio"] + .browserIcon.browserChrome {
  background-position: 0 0;
}
input[type="radio"] + .browserIcon.browserMozilla {
  background-position: 0 -128px;
}
input[type="radio"] + .browserIcon.browserIE {
  background-position: 0 -256px;
}


input[type="radio"] + .browserIcon.browserChrome:hover {
  background-position: -252px 0;
}
input[type="radio"]:checked + .browserIcon.browserChrome {
  background-position: -128px 0;
}
input[type="radio"]:checked + .browserIcon.browserChrome:hover {
  background-position: -380px 0;
}

input[type="radio"] + .browserIcon.browserMozilla:hover {
  background-position: -252px -128px;
}
input[type="radio"]:checked + .browserIcon.browserMozilla {
  background-position: -128px -128px;
}
input[type="radio"]:checked + .browserIcon.browserMozilla:hover {
  background-position: -380px -128px;
}

input[type="radio"] + .browserIcon.browserIE:hover {
  background-position: -252px -256px;
}
input[type="radio"]:checked + .browserIcon.browserIE {
  background-position: -128px -256px;
}

input[type="radio"]:checked + .browserIcon.browserIE:hover {
  background-position: -380px -256px;
}
