html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  padding: 20px;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

fieldset {
  border: 1px solid #888;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

fieldset:hover {
  /*box-shadow:  0 0 5px rgba(0, 200, 0, 0.2);*/
  background: rgba(255, 200, 0, 0.1);
}

fieldset legend {
  padding: 5px 10px;
  border: 1px solid #888;
  font-style: italic;
  border-radius: 5px;
  background: #fff;
}

fieldset:hover legend {
  color: #f00;
}

div.row {
  padding: 10px;
  position: relative;
}


.darkRow {
  background: #558;
  color: #fff;
}

input,
select,
select option {
  font-family: 'Advent Pro', sans-serif;
  font-size: 1em;
}

.inputSelector {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  border: 1px solid #888;
  border-radius: 3px;
  background: rgb(240,249,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMWRiZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(161,219,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(100%,rgba(161,219,255,1)));
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(161,219,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );  
}

.inputSelector:hover {
  background: rgb(161,219,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExZGJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGY5ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(161,219,255,1) 0%, rgba(240,249,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,219,255,1)), color-stop(100%,rgba(240,249,255,1)));
  background: -webkit-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(240,249,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(240,249,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(161,219,255,1) 0%,rgba(240,249,255,1) 100%);
  background: linear-gradient(to bottom,  rgba(161,219,255,1) 0%,rgba(240,249,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1dbff', endColorstr='#f0f9ff',GradientType=0 );  
}

.inputSelector select {
  width: 150%;
  border: 0;
  padding: 3px 26px 3px 3px;
}
.inputSelector select:focus {
  outline:none;
}

.inputSelector select,
.inputSelector select option {
  background: transparent;
  -webkit-appearance: none;  
}

.inputSelector:after {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: url(../img/light_dropdown.png) no-repeat 0 0;
  position: absolute;
  right: 8px;
  top: 25%;
  z-index: 0;
}
.inputSelector:hover:after {
  background-position: right top;
}

.newLine {
  clear: both;
}

a:hover:after {
  content: '>>';
  display: inline-block;  
  padding-left: 5px;
}